# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Python backups
*.bak
*.swp

# Database and logs
*.db
*.log

# PDFs and OCR outputs
*.pdf
*.docx
*.txt
*.json
*.csv

# Model files
*.pkl
